@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
button {
    font-family: 'Comic Neue', cursive;
}

body {
    background-color: #0a0a23;
    color: white;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

main {
    position: relative;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5.5em;
    margin: 0;
    padding: 40px;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0468b9,
        0 0 80px #0468b9,
        0 0 90px #0468b9,
        0 0 100px #0468b9,
        0 0 150px #0468b9;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

h1:hover {
    cursor: default;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #0a0a23;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

h3 {
    margin: 0;
    padding: 5px;
}

