@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    --background-clr: #0a0a23;
    --neon-clr: #0075ff;
    --white-clr: #fff;
    --slider-background: #1e1e1e;
    --board-background: #0b58b;
    --btn-font-size: 1.75em;
    --container-height: 600px;
    --h1-size: 5.5em;
    --h2-size: 3em;
}

body,
button {
    font-family: 'Comic Neue', cursive;
}

.container,
.user-color-container,
.tools,
.heading,
main {
    display: flex;
}

.user-color-container,
.tools,
.heading,
main {
    align-items: center;
}

.user-color-container,
.heading,
main {
    justify-content: center;
}

.user-color-container,
.tools {
    flex-direction: column;
}

.container,
.tools,
.board {
    height: var(--container-height);
}

h1,
h2,
h3,
.slider-desc {
    margin: 0;
}

h1:hover,
h2:hover,
h3:hover {
    cursor: default;
}

footer,
.board {
    background-color: var(--white-clr);
}

body {
    background-color: var(--background-clr);
    color: var(--white-clr);
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

main {
    position: relative;
    height: calc(100% - (20vh + 5vh)); /* Calculating the space left between heading and footer */
}

.heading {
    height: 20vh;
}

h1 {
    font-size: var(--h1-size);
    padding: 40px;
    animation: flicker 1.5s infinite alternate;
}

/* Main logo neon effect */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px   var(--white-clr),
        0 0 11px  var(--white-clr),
        0 0 19px  var(--neon-clr),
        0 0 40px  var(--neon-clr),
        0 0 80px  var(--neon-clr),
        0 0 90px  var(--neon-clr),
        0 0 100px var(--neon-clr),
        0 0 150px var(--neon-clr);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.container {
    gap: 8em;
}

.board {
    aspect-ratio: 1/1;
    border: 5px solid var(--background-clr);
    box-shadow: 0 0 10px 5px var(--neon-clr);
}


.tools {
    justify-content: space-between;
    flex: 1;
}

h2 { 
    font-size: var(--h2-size);
    padding: 20px;
    text-shadow: 
    0 0 3px  var(--white-clr),
    0 0 6px  var(--white-clr),
    0 0 9px  var(--neon-clr),
    0 0 15px var(--neon-clr),
    0 0 21px var(--neon-clr),
    0 0 27px var(--neon-clr),
    0 0 34px var(--neon-clr),
    0 0 40px var(--neon-clr);
}

button {
    font-size: var(--btn-font-size);
    width: 100%;
    background-color: inherit;
    color: var(--neon-clr);
    border: 3px solid currentColor;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.25em 1em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
                 0 0 0.5em currentColor,
                 0 0 0.75em currentColor;

    box-shadow: 
    inset 0 0 0.65em currentColor,
          0 0 0.65em currentColor;

    transition: 0.3s;
}

button:hover {
    scale: 1.1;
}

button:active {
    box-shadow: 
    inset 0 0 0.65em var(--neon-clr),
          0 0 0.65em var(--neon-clr),
          0 0 0.7em  var(--neon-clr);
    transition: 0.02s;
}

#colorpicker {
    display: none;
    position: absolute;
}

.slider-container {
    text-align: center;
}

.slider-desc{
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px;
    text-shadow: 
    0 0 3px  var(--white-clr),
    0 0 6px  var(--neon-clr),
    0 0 9px  var(--neon-clr),
    0 0 12px var(--neon-clr),
    0 0 20px var(--neon-clr);
}

input[type=range] {
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: var(--slider-background);
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    cursor: grab;
    scale: 1.5;
}

footer {
    height: 5vh;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    color: var(--background-clr);
}

h3 {    
    padding: 5px;
}
