@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
button {
    font-family: 'Comic Neue', cursive;
}

body {
    background-color: #0a0a23;
    color: white;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

main {
    position: relative;
    height: calc(100% - (20vh + 5vh)); /* Calculating the space left between heading and footer */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    height: 600px;  
}

button {
    font-size: 1.75em;
    background: inherit;
    color: #2d99dd;
    border: 3px solid currentColor;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.25em 1em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.5em currentColor,
    0 0 0.75em currentColor;
    box-shadow: 
    inset 0 0 0.65em currentColor,
    0 0 0.65em currentColor;
    width: 100%;
}

#colorpicker {
    display: none;
}

.user-color-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 { 
    margin: 0;
    align-self: center;
    font-size: 3em;
    padding: 20px;
    text-shadow: 
    0 0 3px #fff,
    0 0 6px #fff,
    0 0 9px  #2d99dd,
    0 0 15px #2d99dd,
    0 0 21px #2d99dd,
    0 0 27px #2d99dd,
    0 0 34px #2d99dd,
    0 0 40px #2d99dd;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

h1 {
    font-size: 5.5em;
    margin: 0;
    padding: 40px;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px  #2d99dd,
        0 0 40px  #2d99dd,
        0 0 80px  #2d99dd,
        0 0 90px  #2d99dd,
        0 0 100px #2d99dd,
        0 0 150px #2d99dd;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

h1:hover {
    cursor: default;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #0a0a23;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 5vh;
}

h3 {
    margin: 0;
    padding: 5px;
}

.board {
    height: 600px;
    width: 600px;
    border: 5px solid white;
}

