@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
button {
    font-family: 'Comic Neue', cursive;
}

body {
    background-color: #0a0a23;
    color: white;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

main {
    position: absolute;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 6.5em;
    margin: 0;
}

h1:hover {
    cursor: default;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #0a0a23;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}


